{% extends 'base.html.twig' %}
{% trans_default_domain 'fediplan' %}
{% block title %}{{ 'common.about'|trans }}{% endblock %}

{% block content %}
    {% include 'nav.html.twig' %}
    <h1>{{ 'common.about'|trans }}</h1>

    <div class="row well">
        <div class="col-md-8 jumbotron">
            {{ 'page.about.scheduling'|trans  |raw}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 alert alert-primary" role="alert">
            {{ 'page.about.data'|trans |raw}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 alert alert-success" role="alert">
            {{ 'page.about.issues'|trans |raw}}
        </div>
    </div>


    <div class="row">
        <div class="col-md-8 alert alert-info" role="alert">
            You can help to translate the project into your language with <b>Crowdin</b> at <a title="Crowdin" target="_blank" href="https://crowdin.com/project/fediplan"><img src="https://badges.crowdin.net/fediplan/localized.svg"></a>
        </div>
    </div>


{% endblock %}
