{% extends 'base.html.twig' %}
{% trans_default_domain 'fediplan' %}
{% block title %}{{ 'common.about'|trans }}{% endblock %}

{% block content %}
    {% include 'nav.html.twig' %}

    <div class="row">
        <div class="col-md-12" style="text-align: center;line-height: normal;margin-top: 100px;">  <pre>
██╗  ██╗ ██████╗ ██╗  ██╗
██║  ██║██╔═████╗██║  ██║
███████║██║██╔██║███████║
╚════██║████╔╝██║╚════██║
     ██║╚██████╔╝     ██║
     ╚═╝ ╚═════╝      ╚═╝

</pre>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="text-align: center">
            --> <a href="{{ path('index') }}">200</a> <--
        </div>
    </div>

{% endblock %}